@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #FF6600;
  --color-brand-orange: #FF6600;
  --color-bg-main: #F8FAFC;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg-main);
  @apply text-slate-900;
}
